var parseCates = function (cates) {
  if (cates) {
    return cates.map(function (item) {
      return item.catename
    })
  } else {
    return ''
  }
}
var parseTime = function (t) {
  var f = parseInt(t / 60)
  var m = t % 60
  f = f < 10 ? "0" + f : f
  m = m < 10 ? "0" + m : m
  return f + "'" + m + '"'
}

var time = function (date) {
  var d = parseInt(date / 1000)
  var month = Math.floor(d / 60 / 60 / 24 % 12) - 1
  var day = Math.floor(d / 60 / 60 % 24)
  var hour = Math.floor(d / 60 / 60 % 24)
  var minute = Math.floor(d % (3600) / 60)
  var second = Math.floor(d % 60)
  return month + "月" + day + "日" + "  " + hour + ":" + minute + ":" + second
}

var a = function (timestamp, option) {
  timestamp = Number(timestamp)
  var date = getDate(timestamp);
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()

  var hour = function () {
    return date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
  }

  var minute = function () {
    return date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  }

  var second = function () {
    return date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
  }

  //获取 年月日
  if (option == 'YY-MM-DD') return " " + year + "-" + month + "-" + day;

  //获取年月
  if (option == 'YY-MM') return " " + year + "-" + month;

  //获取年
  if (option == 'YY') return " " + year;

  //获取月
  if (option == 'MM') return " " + month;

  //获取日
  if (option == 'DD') return " " + day;

  //获取昨天
  if (option == 'yesterday') return " " + day - 1;

  //获取时分秒
  if (option == 'hh-mm-ss') return " " + hour() + ":" + minute() + ":" + second();

  //获取时分
  if (option == 'hh-mm') return " " + hour() + ":" + minute();

  //获取分秒
  if (option == 'mm-ss') return minute() + ":" + second();

  //获取分
  if (option == 'mm') return minute();

  //获取秒
  if (option == 'ss') return second();

  //默认时分秒年月日
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second();
}



var add = function (a, foo) {
  a = Number(a)
  if (!foo) {
    foo = true
    return a++
  } else {
    foo = false
    return a--
  }
}




module.exports = {
  parseCates: parseCates,
  parseTime: parseTime,
  time: time,
  add: add,
  a: a
}